<div class="jumbotron">
    <h1>ASP.NET - with GIT as Source Control</h1>
    <p class="lead">Welcome to MVC using GitHub - TD Wealth</p>
    <p class="lead" id="usrname"></p>
    <script>
            var usrName = "@HttpContext.Current.User.Identity.Name";
            document.getElementById("usrname").innerHTML = usrName; 
</script>
    
   </div>
<div class="row">
    <div class="col-md-4">
        <h2>TD Wealth Technology Solutions</h2>
        <p>ABoR</p>
        <p><a class="btn btn-default" href="https://itpm.td.com/td/itpm/servlet/ApmServer?_keyValueObjectName=eosSecurity:UsernameCredentialView&_keyValueHeaderObjectName=eosPI:EosEvent&EosEvent._eventName=sessionauthenticate&EosEvent._contextExtField=home&EosEvent._context=View&EosEvent._pageName=Applications&EosEvent._mode=leftRightPage&EosEvent._viewName=AssetIndexView&EosEvent._sectionName=Application&EosEvent._destination=/servlet/ApmServer">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>MCI
        </h2>
        <p>Welcome to Configuration Management</p>
        <p>MCI (Management of Configuration Items) is a program based on process, people and technology.</p>
        <p><a class="btn btn-default" href="https://w3.mci.td.com/mci/Home.aspx">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Wealth Asset Inventory</h2>
        <p>WAI</p>
        <p><a class="btn btn-default" href="http://tdwm-wdwor-cv01.d2-tdbfg.com:8080/WAI/search/home.htm">Learn more &raquo;</a></p>
    </div>
</div>
